<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="../public/imgs/LojasNossoLar.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles/home/home.css">
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-KnyjRWg/YV/vxUfuFOMU/IhdeejW1ks9GRFjfF3FLCr0IznW5kEXHJdwwbhXzD4UzqBPu7rW9aQOeu9lrzSxwQ==" crossorigin="anonymous" />

    <title>Home</title>
</head>
<body>
    <!-- <h1>Páginas Disponíveis</h1> -->
    <ul>
        <% function renderFolder(folder, basePath = '') { %>
            <li class="folder-name">
                <i class="fas fa-folder"></i> <%= folder.folder %>
                <ul class="folder-list">
                    <% folder.pages = folder.pages || []; folder.pages.forEach(page => { %>
                        <li class="item"><i class="fas fa-file"></i> <a href="/view<%= basePath ? `/${basePath}` : '' %>/<%= folder.folder ? `${folder.folder}/` : '' %><%= page %>"><%= page %></a></li>
                    <% }); %>
                    <% if (folder.subfolders && folder.subfolders.length > 0) { %>
                        <% folder.subfolders.forEach(subfolder => { %>
                            <%= renderFolder(subfolder, folder.folder ? `${basePath}/${folder.folder}` : basePath) %>
                        <% }); %>
                    <% } %>
                </ul>
            </li>
        <% } %>
        <% foldersAndPages.forEach(item => { %>
            <%= renderFolder(item) %>
        <% }); %>
    </ul>
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var folderNames = document.querySelectorAll('.folder-name');

            folderNames.forEach(function (folder) {
                folder.addEventListener('click', function (event) {
                    event.stopPropagation(); 

                    var folderList = this.querySelector('.folder-list');
                    folderList.style.display = (folderList.style.display === 'none' || folderList.style.display === '') ? 'block' : 'none';
                });
            });
        });
    </script>

</body>
</html>
